.heading {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;

  h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    font-size: 1.9em;
  }

  svg {
    display: inline-block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: -25px;
    left: 0;
  }
}
