.footer {
  margin-top: 3.2em;
  position: relative;
  z-index: 2;

  .container {

    @media (min-width: 992px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      li {
        flex-basis: 100%;
        
        &:first-of-type {
          margin-bottom: 1.8em;

          @media (min-width: 992px) {
            margin-bottom: 0;
          }
        }
        
        a {
          display: flex;
          align-items: center;

          &:hover {
            color: $secondary;
          }
          
          svg {
            width: 1.5em;
            margin-right: .7em;
            fill: $secondary;
          }
        }
      }
    }
    
    .logo-wrap {
      display: block;
      width: 50%;
      margin: 2em auto 0 auto;
      max-width: 200px;

      @media (min-width: 992px) {
        margin: 0;
        max-width: 220px;
      }
    }
    
    .copyright {
      text-align: center;
      padding-bottom: 10px;

      @media (min-width: 992px) {
        flex-basis: 100%;
      }
    }
  }
}