<footer class="footer">
    <div class="container">
        <ul>
            <li>
                <a href="mailto:eddie@eddiecleary.com">
                    <svg viewbox="0 0 32 32"><use xlink:href="#icon-envelope"></use></svg>eddie@eddiecleary.com
                </a>
            </li>
            <li>
                <a href="tel:+16788890988">
                    <svg viewbox="0 0 32 32"><use xlink:href="#icon-phone"></use></svg>+1 (678)-889-0988
                </a>
            </li>
        </ul>
        <a href="/" class="logo-wrap logo-footer">
            <svg class="logo" viewbox="0 0 300 150">
              <use xlink:href="#icon-logo_white"></use>
            </svg>
        </a>
        <p class="copyright">Copyright &copy; <span id="year"></span>. All Rights Reserved.</p>
    </div>
</footer>

<button class="scrollBtn" id="scrollBtn">
  <svg viewbox="0 0 32 32"><use xlink:href="#icon-uparrow"></use></svg>
</button>

</body>

</html>