<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1"
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="icon-logo_white" viewBox="0 0 116 32">
            <path fill="#fff" style="fill: var(--color1, #fff)"
                d="M0 28.593v-12.623h8.106v1.949h-5.811v3.116h5.173v1.912h-5.173v3.705h6.242v1.948z"></path>
            <path fill="#fff" style="fill: var(--color1, #fff)"
                d="M19.436 28.301c-1.118 0.337-2.403 0.532-3.733 0.535h-0.001c-0.027 0-0.060 0.001-0.092 0.001-0.693 0-1.356-0.127-1.968-0.358l0.038 0.013c-0.595-0.229-1.103-0.567-1.52-0.993l-0.001-0.001c-0.417-0.434-0.747-0.956-0.957-1.535l-0.010-0.030c-0.214-0.591-0.337-1.273-0.337-1.984 0-0.030 0-0.059 0.001-0.089l-0 0.004c-0-0.024-0-0.052-0-0.081 0-0.702 0.104-1.379 0.297-2.018l-0.013 0.049c0.18-0.606 0.464-1.131 0.834-1.583l-0.006 0.008c0.357-0.427 0.801-0.769 1.306-1.001l0.023-0.009c0.508-0.226 1.1-0.357 1.722-0.357 0.029 0 0.058 0 0.086 0.001l-0.004-0c0.023-0 0.051-0.001 0.078-0.001 0.407 0 0.8 0.059 1.17 0.169l-0.029-0.007c0.353 0.106 0.655 0.23 0.942 0.378l-0.030-0.014v-4.577l2.204-0.364zM13.115 23.803q0 1.45 0.693 2.286t1.912 0.828c0.022 0 0.048 0 0.074 0 0.292 0 0.58-0.017 0.863-0.049l-0.035 0.003c0.248-0.031 0.453-0.064 0.611-0.1v-5.466c-0.223-0.146-0.479-0.272-0.751-0.365l-0.024-0.007c-0.3-0.11-0.647-0.174-1.008-0.174-0.007 0-0.014 0-0.021 0h0.001q-1.203 0-1.759 0.82t-0.556 2.223z">
            </path>
            <path fill="#fff" style="fill: var(--color1, #fff)"
                d="M31.386 28.301c-1.118 0.337-2.403 0.532-3.733 0.535h-0.001c-0.027 0-0.060 0.001-0.092 0.001-0.693 0-1.356-0.127-1.968-0.358l0.038 0.013c-0.596-0.229-1.104-0.567-1.522-0.993l-0.001-0.001c-0.418-0.434-0.747-0.956-0.957-1.536l-0.010-0.030c-0.214-0.591-0.337-1.273-0.337-1.984 0-0.030 0-0.059 0.001-0.089l-0 0.004c-0-0.026-0.001-0.056-0.001-0.086 0-0.7 0.103-1.375 0.295-2.013l-0.013 0.049c0.181-0.606 0.466-1.131 0.836-1.584l-0.006 0.008c0.357-0.427 0.801-0.769 1.306-1.001l0.023-0.009c0.507-0.226 1.098-0.357 1.72-0.357 0.029 0 0.058 0 0.087 0.001l-0.004-0c0.023-0 0.051-0.001 0.078-0.001 0.407 0 0.801 0.059 1.172 0.169l-0.029-0.007c0.352 0.106 0.654 0.23 0.94 0.378l-0.030-0.014v-4.577l2.205-0.364zM25.065 23.803q0 1.45 0.693 2.286t1.912 0.828c0.022 0 0.048 0 0.074 0 0.292 0 0.58-0.017 0.863-0.049l-0.035 0.003c0.248-0.031 0.451-0.064 0.609-0.1v-5.466c-0.222-0.146-0.478-0.272-0.749-0.365l-0.024-0.007c-0.301-0.11-0.648-0.174-1.010-0.174-0.007 0-0.014 0-0.021 0h0.001q-1.203 0-1.758 0.82t-0.556 2.223z">
            </path>
            <path fill="#fff" style="fill: var(--color1, #fff)"
                d="M37.743 16.28c0.001 0.018 0.001 0.039 0.001 0.060 0 0.364-0.155 0.692-0.402 0.922l-0.001 0.001c-0.242 0.226-0.568 0.364-0.927 0.364-0.007 0-0.014-0-0.022-0h0.001c-0.010 0-0.021 0-0.032 0-0.361 0-0.69-0.139-0.936-0.365l0.001 0.001c-0.248-0.231-0.403-0.559-0.403-0.923 0-0.021 0.001-0.042 0.002-0.062l-0 0.003c-0.001-0.020-0.002-0.043-0.002-0.066 0-0.368 0.154-0.701 0.402-0.935l0.001-0.001c0.245-0.226 0.574-0.364 0.935-0.364 0.011 0 0.022 0 0.034 0l-0.002-0c0.006-0 0.013-0 0.020-0 0.358 0 0.685 0.139 0.928 0.365l-0.001-0.001c0.248 0.235 0.403 0.568 0.403 0.936 0 0.023-0.001 0.046-0.002 0.069l0-0.003zM37.506 28.593h-2.204v-9.526h2.204z">
            </path>
            <path fill="#fff" style="fill: var(--color1, #fff)"
                d="M40.876 23.876c-0.001-0.036-0.001-0.078-0.001-0.12 0-0.748 0.137-1.465 0.387-2.125l-0.014 0.041c0.234-0.612 0.572-1.137 0.995-1.577l-0.001 0.001c0.392-0.403 0.865-0.724 1.394-0.938l0.027-0.010c0.485-0.202 1.047-0.321 1.638-0.322h0.001q1.967 0 3.070 1.22t1.102 3.644c0 0.121 0 0.258-0.010 0.409s-0.014 0.288-0.027 0.411h-6.283q0.092 1.149 0.805 1.772t2.094 0.628c0.017 0 0.038 0 0.058 0 0.498 0 0.984-0.053 1.453-0.153l-0.045 0.008c0.402-0.082 0.752-0.189 1.088-0.326l-0.041 0.015 0.292 1.804c-0.138 0.068-0.304 0.133-0.476 0.185l-0.025 0.007c-0.188 0.061-0.432 0.124-0.682 0.174l-0.047 0.008c-0.274 0.055-0.567 0.1-0.883 0.137-0.288 0.034-0.621 0.053-0.959 0.053-0.003 0-0.005 0-0.008 0h0c-0.038 0.001-0.082 0.001-0.126 0.001-0.74 0-1.448-0.137-2.1-0.387l0.040 0.014c-0.603-0.236-1.114-0.59-1.526-1.036l-0.002-0.003c-0.393-0.436-0.699-0.959-0.886-1.536l-0.008-0.030c-0.187-0.575-0.295-1.237-0.295-1.925 0-0.016 0-0.032 0-0.048v0.002zM47.269 22.892c0-0.005 0-0.011 0-0.017 0-0.303-0.047-0.595-0.133-0.869l0.006 0.020c-0.082-0.273-0.21-0.51-0.377-0.714l0.003 0.004c-0.162-0.197-0.363-0.357-0.59-0.469l-0.010-0.005c-0.235-0.109-0.51-0.173-0.799-0.173-0.016 0-0.033 0-0.049 0.001l0.002-0c-0.014-0-0.031-0.001-0.047-0.001-0.307 0-0.598 0.070-0.857 0.196l0.012-0.005c-0.253 0.127-0.467 0.295-0.642 0.498l-0.002 0.003c-0.171 0.202-0.31 0.437-0.404 0.694l-0.005 0.016c-0.090 0.237-0.16 0.513-0.199 0.8l-0.002 0.020z">
            </path>
            <path fill="#fff" style="fill: var(--color1, #fff)"
                d="M63.955 28.867c-0.033 0.001-0.072 0.001-0.112 0.001-0.876 0-1.714-0.16-2.487-0.454l0.048 0.016c-0.754-0.29-1.394-0.729-1.909-1.286l-0.003-0.003c-0.525-0.576-0.936-1.266-1.192-2.026l-0.012-0.040c-0.266-0.795-0.42-1.71-0.42-2.661 0-0.051 0-0.101 0.001-0.151l-0 0.008c-0.001-0.041-0.001-0.089-0.001-0.138 0-0.959 0.178-1.876 0.502-2.72l-0.018 0.052c0.313-0.804 0.761-1.492 1.322-2.068l-0.001 0.001c0.542-0.552 1.198-0.989 1.929-1.276l0.038-0.013c0.704-0.277 1.52-0.438 2.373-0.438 0.015 0 0.030 0 0.046 0h-0.002c0.018-0 0.039-0 0.060-0 0.481 0 0.952 0.043 1.409 0.127l-0.048-0.007c0.444 0.080 0.818 0.172 1.182 0.283l-0.073-0.019c0.303 0.089 0.563 0.194 0.81 0.321l-0.025-0.012c0.206 0.11 0.351 0.188 0.437 0.237l-0.673 1.877c-0.359-0.21-0.773-0.387-1.211-0.51l-0.038-0.009c-0.501-0.151-1.076-0.237-1.672-0.237-0.028 0-0.055 0-0.083 0.001l0.004-0c-0.010-0-0.023-0-0.035-0-0.538 0-1.052 0.104-1.523 0.292l0.028-0.010c-0.485 0.194-0.895 0.482-1.227 0.843l-0.002 0.002c-0.353 0.397-0.628 0.871-0.798 1.393l-0.008 0.028c-0.186 0.559-0.293 1.203-0.293 1.872 0 0.039 0 0.079 0.001 0.118l-0-0.006c-0 0.020-0 0.044-0 0.069 0 0.63 0.083 1.24 0.239 1.82l-0.011-0.049c0.144 0.555 0.386 1.040 0.709 1.459l-0.007-0.009c0.315 0.405 0.719 0.727 1.182 0.939l0.020 0.008c0.483 0.215 1.046 0.34 1.638 0.34 0.038 0 0.077-0.001 0.115-0.002l-0.006 0c0.053 0.002 0.115 0.002 0.177 0.002 0.643 0 1.264-0.091 1.852-0.262l-0.047 0.012c0.463-0.142 0.856-0.299 1.231-0.485l-0.047 0.021 0.619 1.875c-0.17 0.11-0.365 0.208-0.57 0.285l-0.021 0.007c-0.231 0.093-0.526 0.19-0.828 0.269l-0.057 0.013c-0.318 0.088-0.707 0.165-1.104 0.215l-0.043 0.004c-0.398 0.052-0.858 0.082-1.325 0.082-0.014 0-0.029-0-0.043-0h0.002z">
            </path>
            <path fill="#fff" style="fill: var(--color1, #fff)"
                d="M74.265 28.776c-0.007 0-0.016 0-0.024 0-0.572 0-1.125-0.080-1.648-0.229l0.042 0.010c-0.401-0.114-0.746-0.312-1.031-0.575l0.002 0.002c-0.252-0.249-0.439-0.563-0.535-0.915l-0.003-0.014c-0.102-0.367-0.161-0.789-0.161-1.225 0-0.015 0-0.029 0-0.044l-0 0.002v-10.967l2.204-0.364v10.911c-0 0.017-0.001 0.037-0.001 0.057 0 0.218 0.024 0.431 0.069 0.636l-0.004-0.020c0.039 0.18 0.118 0.337 0.228 0.467l-0.001-0.002c0.118 0.132 0.269 0.232 0.439 0.289l0.007 0.002c0.208 0.072 0.451 0.129 0.703 0.159l0.017 0.002z">
            </path>
            <path fill="#fff" style="fill: var(--color1, #fff)"
                d="M76.925 23.876c-0.001-0.036-0.001-0.078-0.001-0.12 0-0.748 0.137-1.465 0.387-2.125l-0.014 0.041c0.234-0.612 0.572-1.137 0.995-1.577l-0.001 0.001c0.392-0.403 0.865-0.724 1.394-0.938l0.027-0.010c0.485-0.202 1.047-0.32 1.638-0.322h0.001q1.969 0 3.070 1.22t1.102 3.644c0 0.121 0 0.258-0.010 0.409s-0.016 0.288-0.027 0.411h-6.283q0.092 1.149 0.805 1.772t2.086 0.628c0.018 0 0.039 0 0.060 0 0.498 0 0.984-0.053 1.452-0.153l-0.045 0.008c0.402-0.082 0.752-0.189 1.088-0.326l-0.041 0.015 0.292 1.804c-0.138 0.068-0.304 0.133-0.476 0.185l-0.025 0.007c-0.188 0.061-0.432 0.124-0.682 0.174l-0.046 0.008c-0.274 0.055-0.567 0.1-0.883 0.137-0.288 0.034-0.621 0.053-0.958 0.053-0.003 0-0.006 0-0.009 0h0c-0.038 0.001-0.082 0.001-0.126 0.001-0.74 0-1.448-0.137-2.1-0.387l0.040 0.014c-0.603-0.236-1.114-0.59-1.526-1.036l-0.002-0.003c-0.393-0.436-0.699-0.959-0.886-1.536l-0.008-0.030c-0.182-0.568-0.287-1.221-0.287-1.899 0-0.025 0-0.050 0-0.075l-0 0.004zM83.319 22.892c0-0.003 0-0.008 0-0.012 0-0.305-0.047-0.598-0.135-0.874l0.006 0.020c-0.083-0.273-0.21-0.509-0.375-0.714l0.003 0.004c-0.163-0.197-0.364-0.357-0.592-0.469l-0.010-0.005c-0.235-0.109-0.51-0.173-0.799-0.173-0.016 0-0.033 0-0.049 0.001l0.002-0c-0.014-0-0.030-0.001-0.046-0.001-0.308 0-0.6 0.070-0.859 0.196l0.012-0.005c-0.253 0.127-0.467 0.296-0.642 0.498l-0.002 0.003c-0.171 0.201-0.31 0.436-0.406 0.693l-0.005 0.016c-0.090 0.237-0.16 0.513-0.199 0.8l-0.002 0.020z">
            </path>
            <path fill="#fff" style="fill: var(--color1, #fff)"
                d="M92.116 18.83c0.042-0.001 0.092-0.002 0.142-0.002 0.607 0 1.191 0.1 1.736 0.285l-0.038-0.011c0.471 0.163 0.871 0.425 1.192 0.764l0.001 0.001c0.297 0.329 0.52 0.73 0.64 1.174l0.005 0.020c0.122 0.443 0.192 0.952 0.192 1.478 0 0.021-0 0.043-0 0.064l0-0.003v5.775c-0.34 0.073-0.854 0.161-1.538 0.264-0.675 0.103-1.455 0.161-2.248 0.161-0.026 0-0.053-0-0.079-0l0.004 0c-0.023 0-0.049 0-0.076 0-0.528 0-1.042-0.059-1.536-0.17l0.046 0.009c-0.461-0.1-0.867-0.283-1.222-0.535l0.010 0.007c-0.334-0.245-0.6-0.564-0.778-0.932l-0.007-0.015c-0.179-0.394-0.283-0.854-0.283-1.339 0-0.035 0.001-0.070 0.002-0.105l-0 0.005c-0.001-0.025-0.001-0.055-0.001-0.084 0-0.476 0.12-0.923 0.331-1.314l-0.007 0.015c0.214-0.377 0.505-0.687 0.855-0.915l0.010-0.006c0.363-0.234 0.787-0.411 1.242-0.505l0.024-0.004c0.452-0.102 0.97-0.161 1.503-0.161h0c0.27 0.001 0.536 0.017 0.797 0.048l-0.032-0.003c0.332 0.043 0.622 0.099 0.906 0.172l-0.050-0.011v-0.364c0-0.003 0-0.007 0-0.010 0-0.255-0.033-0.502-0.095-0.738l0.004 0.020c-0.121-0.476-0.464-0.853-0.91-1.018l-0.010-0.003c-0.257-0.093-0.554-0.146-0.863-0.146-0.027 0-0.054 0-0.080 0.001l0.004-0c-0.016-0-0.034-0-0.053-0-0.476 0-0.943 0.040-1.398 0.117l0.049-0.007c-0.396 0.062-0.746 0.151-1.083 0.268l0.043-0.013-0.272-1.785c0.336-0.111 0.746-0.213 1.167-0.284l0.052-0.007c0.511-0.097 1.099-0.154 1.7-0.155h0.001zM92.298 27.046c0.061 0.002 0.134 0.003 0.206 0.003 0.474 0 0.939-0.041 1.39-0.119l-0.048 0.007v-2.442c-0.142-0.041-0.321-0.079-0.503-0.106l-0.025-0.003c-0.22-0.034-0.473-0.053-0.731-0.053-0.012 0-0.024 0-0.036 0h0.002c-0.261 0-0.516 0.020-0.766 0.057l0.029-0.003c-0.251 0.036-0.478 0.106-0.687 0.207l0.014-0.006c-0.197 0.095-0.36 0.234-0.481 0.405l-0.003 0.004c-0.115 0.176-0.183 0.391-0.183 0.623 0 0.015 0 0.030 0.001 0.045l-0-0.002q0 0.783 0.493 1.084c0.348 0.191 0.762 0.303 1.202 0.303 0.045 0 0.089-0.001 0.133-0.003l-0.006 0z">
            </path>
            <path fill="#fff" style="fill: var(--color1, #fff)"
                d="M105.195 21.052c-0.198-0.066-0.452-0.132-0.712-0.184l-0.045-0.008c-0.317-0.064-0.682-0.1-1.055-0.1-0.023 0-0.046 0-0.068 0l0.003-0c-0.275 0.002-0.543 0.028-0.803 0.077l0.028-0.004c-0.225 0.037-0.419 0.081-0.607 0.138l0.034-0.009v7.631h-2.204v-9.071c0.433-0.161 0.967-0.315 1.515-0.432l0.080-0.014c0.612-0.133 1.315-0.21 2.036-0.21 0.030 0 0.060 0 0.090 0l-0.005-0c0.145 0 0.322 0.010 0.509 0.027s0.39 0.044 0.583 0.073 0.383 0.068 0.565 0.11 0.322 0.082 0.437 0.119z">
            </path>
            <path fill="#fff" style="fill: var(--color1, #fff)"
                d="M116.311 19.067c-1.032 3.86-2.199 7.131-3.594 10.279l0.175-0.443c-0.237 0.543-0.487 1.003-0.771 1.439l0.023-0.038c-0.241 0.372-0.524 0.691-0.85 0.961l-0.007 0.006c-0.298 0.243-0.651 0.433-1.035 0.549l-0.022 0.006c-0.394 0.111-0.847 0.174-1.315 0.174-0.371 0-0.732-0.040-1.080-0.116l0.033 0.006c-0.286-0.054-0.539-0.136-0.778-0.245l0.021 0.009 0.401-1.772c0.384 0.159 0.83 0.252 1.297 0.256h0.001q0.86 0 1.345-0.411c0.369-0.343 0.659-0.767 0.843-1.243l0.008-0.023q-1.041-2.004-2.002-4.372c-0.556-1.307-1.141-2.976-1.633-4.685l-0.083-0.337h2.35q0.182 0.764 0.448 1.658c0.176 0.594 0.369 1.199 0.575 1.812s0.427 1.223 0.659 1.83 0.462 1.173 0.694 1.695q0.58-1.622 1.089-3.452t0.925-3.544z">
            </path>
            <path fill="#fff" style="fill: var(--color1, #fff)"
                d="M53.849 2.16c-0.356 0.296-2.734-0.71-4.876-1.11-9.94-2.197-16.678-0.197-16.678-0.197l0.246 1.663c0.242-0.060 0.673 0.179 0.95 0.754s0.712 3.148 1.545 5.228 2.961 2.255 5.625 2.615c2.69 0.366 6.892 0.179 8.040-0.593s2.813-4.259 3.125-5.824 2.065-1.031 2.065-1.031zM49.553 6.993c-0.765 2.482-1.738 3.178-2.674 3.248s-9.519 0.264-10.395-1.667c-1.166-1.772-1.782-5.429-1.724-6.616s3.383-0.967 3.383-0.967 9.058-0.024 11.91 1.55c1.084 0.778 0.264 1.961-0.499 4.448z">
            </path>
            <path fill="#fff" style="fill: var(--color1, #fff)"
                d="M57.511 1.031c-2.139 0.396-4.511 1.406-4.872 1.11l-0.040 1.505s1.753-0.535 2.065 1.029 1.975 5.052 3.124 5.824 5.352 0.967 8.042 0.594c2.665-0.361 4.794-0.535 5.625-2.615s1.268-4.654 1.545-5.229 0.709-0.805 0.95-0.752l0.25-1.664s-6.74-2.001-16.689 0.198zM70.136 8.573c-0.865 1.932-9.458 1.737-10.389 1.667s-1.904-0.765-2.669-3.253-1.584-3.67-0.499-4.448c2.848-1.574 11.897-1.556 11.897-1.556s3.331-0.214 3.391 0.967-0.556 4.843-1.724 6.623z">
            </path>
        </symbol>
        <symbol id="icon-home" viewBox="0 0 32 32">
            <path d="M32 18.451l-16-12.42-16 12.42v-5.064l16-12.42 16 12.42zM28 18v12h-8v-8h-8v8h-8v-12l12-9z"></path>
        </symbol>
        <symbol id="icon-uparrow" viewBox="0 0 32 32">
          <path fill="#ffd700" style="fill: var(--color1, #ffd700)" d="M16.111 0.037c-2.903 0-5.58 0.715-8.031 2.146s-4.392 3.372-5.823 5.823c-1.431 2.451-2.146 5.128-2.146 8.031s0.715 5.58 2.146 8.031c1.431 2.451 3.372 4.392 5.823 5.823s5.128 2.146 8.031 2.146c2.903 0 5.58-0.715 8.031-2.146s4.392-3.372 5.823-5.823c1.431-2.451 2.146-5.128 2.146-8.031s-0.715-5.58-2.146-8.031c-1.431-2.451-3.372-4.392-5.823-5.823s-5.128-2.146-8.031-2.146z"></path>
          <path fill="#160079" style="fill: var(--color2, #160079)" d="M16 5.229c-0.375 0-0.688 0.125-0.938 0.375l-9.438 9.438c-0.25 0.25-0.375 0.563-0.375 0.938s0.125 0.688 0.375 0.938l1.896 1.896c0.25 0.25 0.563 0.375 0.938 0.375s0.688-0.125 0.938-0.375l3.938-3.938v10.458c0 0.361 0.132 0.674 0.396 0.938s0.576 0.396 0.938 0.396h2.667c0.361 0 0.674-0.132 0.938-0.396s0.396-0.576 0.396-0.938v-10.458l3.938 3.938c0.264 0.264 0.576 0.396 0.938 0.396s0.674-0.132 0.938-0.396l1.896-1.896c0.25-0.25 0.375-0.563 0.375-0.938s-0.125-0.688-0.375-0.938l-9.438-9.438c-0.25-0.25-0.563-0.375-0.938-0.375z"></path>
        </symbol>
        <symbol id="icon-phone" viewBox="0 0 32 32">
            <path
                d="M22 20c-2 2-2 4-4 4s-4-2-6-4-4-4-4-6 2-2 4-4-4-8-6-8-6 6-6 6c0 4 4.109 12.109 8 16s12 8 16 8c0 0 6-4 6-6s-6-8-8-6z">
            </path>
        </symbol>
        <symbol id="icon-check" viewBox="0 0 34 32">
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M33.474 2.771c0.112 0.112 0.202 0.246 0.263 0.392s0.092 0.304 0.092 0.463c0 0.159-0.031 0.316-0.092 0.463s-0.15 0.28-0.263 0.392l-16.914 16.914c-0.112 0.113-0.245 0.202-0.392 0.263s-0.304 0.092-0.463 0.092-0.316-0.031-0.463-0.092c-0.147-0.061-0.28-0.15-0.392-0.263l-7.249-7.249c-0.112-0.112-0.201-0.246-0.262-0.392s-0.092-0.304-0.092-0.463c0-0.159 0.031-0.316 0.092-0.463s0.15-0.28 0.262-0.392c0.112-0.112 0.246-0.201 0.392-0.262s0.304-0.092 0.463-0.092c0.159 0 0.316 0.031 0.463 0.092s0.28 0.15 0.392 0.262l6.393 6.396 16.058-16.061c0.112-0.112 0.245-0.202 0.392-0.263s0.304-0.092 0.463-0.092 0.316 0.031 0.463 0.092c0.147 0.061 0.28 0.15 0.392 0.263z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M0 27.787c0 0.961 0.382 1.883 1.062 2.563s1.602 1.062 2.563 1.062h24.163c0.961 0 1.883-0.382 2.563-1.062s1.062-1.602 1.062-2.563v-12.081c0-0.32-0.127-0.628-0.354-0.854s-0.534-0.354-0.854-0.354c-0.32 0-0.628 0.127-0.854 0.354s-0.354 0.534-0.354 0.854v12.081c0 0.32-0.127 0.628-0.354 0.854s-0.534 0.354-0.854 0.354h-24.163c-0.32 0-0.628-0.127-0.854-0.354s-0.354-0.534-0.354-0.854v-24.163c0-0.32 0.127-0.628 0.354-0.854s0.534-0.354 0.854-0.354h19.33c0.32 0 0.628-0.127 0.854-0.354s0.354-0.534 0.354-0.854-0.127-0.628-0.354-0.854c-0.227-0.227-0.534-0.354-0.854-0.354h-19.33c-0.961 0-1.883 0.382-2.563 1.062s-1.062 1.602-1.062 2.563v24.163z">
            </path>
        </symbol>
        <symbol id="icon-squiggly" viewBox="0 0 571 32">
            <path fill="none" stroke="#ffd700" stroke-width="3" stroke-miterlimit="4" stroke-linecap="butt"
                stroke-linejoin="round" style="stroke: var(--color1, #ffd700)"
                d="M1 15.331c38.188-10.060 140.341-24.144 243.448 0 128.884 30.18 272.566 7.334 325.552-11"></path>
        </symbol>
        <symbol id="icon-cart" viewBox="0 0 32 32">
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M24.25 22.85h-15.15c-0.25 0-0.45-0.1-0.55-0.3-0.15-0.2-0.15-0.45-0.050-0.65l1.3-3.3-1.3-12.3h-4.2v-1.4h4.8c0.35 0 0.65 0.25 0.7 0.6l1.4 13.050c0 0.1 0 0.2-0.050 0.35l-1 2.5h14.1v1.45z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M10.65 19.4l-0.3-1.35 15.95-3.3v-5.65h-16.5v-1.4h17.2c0.4 0 0.7 0.3 0.7 0.7v6.9c0 0.35-0.25 0.6-0.55 0.65l-16.5 3.45z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M24.95 27c-1.5 0-2.75-1.25-2.75-2.75s1.25-2.75 2.75-2.75c1.5 0 2.75 1.25 2.75 2.75s-1.25 2.75-2.75 2.75zM24.95 22.85c-0.75 0-1.4 0.6-1.4 1.4s0.6 1.4 1.4 1.4c0.8 0 1.4-0.6 1.4-1.4s-0.65-1.4-1.4-1.4z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M8.45 27c-1.5 0-2.75-1.25-2.75-2.75s1.25-2.75 2.75-2.75c1.5 0 2.75 1.25 2.75 2.75s-1.25 2.75-2.75 2.75zM8.45 22.85c-0.75 0-1.4 0.6-1.4 1.4s0.6 1.4 1.4 1.4c0.8 0 1.4-0.6 1.4-1.4s-0.65-1.4-1.4-1.4z">
            </path>
        </symbol>
        <symbol id="icon-chat" viewBox="0 0 32 32">
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M9 27.2h-1.25l0.75-1.050c0.55-0.8 0.95-1.75 1.15-3-3.55-1.6-5.45-4.6-5.45-8.55 0-6.050 4.55-9.8 11.9-9.8s11.9 3.75 11.9 9.8c0 6.1-4.45 9.8-11.9 9.8-0.15 0-0.35 0-0.5 0-1.2 1.3-3.2 2.8-6.6 2.8zM16 6.1c-6.65 0-10.6 3.15-10.6 8.5 0 4.55 2.8 6.6 5.1 7.55l0.45 0.2-0.050 0.5c-0.15 1.15-0.4 2.15-0.8 3 2.4-0.3 3.8-1.5 4.55-2.5l0.2-0.25h0.45c0.2 0 0.45 0 0.65 0 9.55 0 10.6-5.95 10.6-8.5 0.050-5.3-3.9-8.5-10.55-8.5z">
            </path>
        </symbol>
        <symbol id="icon-heart" viewBox="0 0 32 32">
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M16 26.45l-0.4-0.35c-9.1-7.4-11.55-10-11.55-14.25 0-3.5 2.85-6.3 6.3-6.3 2.9 0 4.55 1.65 5.65 2.9 1.1-1.25 2.75-2.9 5.65-2.9 3.5 0 6.3 2.85 6.3 6.3 0 4.25-2.45 6.85-11.55 14.25l-0.4 0.35zM10.35 6.85c-2.75 0-5 2.25-5 5 0 3.65 2.3 6.050 10.65 12.9 8.35-6.85 10.65-9.25 10.65-12.9 0-2.75-2.25-5-5-5-2.5 0-3.85 1.5-4.9 2.7l-0.75 0.85-0.75-0.85c-1.050-1.2-2.4-2.7-4.9-2.7z">
            </path>
        </symbol>
        <symbol id="icon-image" viewBox="0 0 32 32">
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M25.9 25.2h-19.75c-1.15 0-2.1-0.95-2.1-2.1v-14.1c0-1.15 0.95-2.1 2.1-2.1h19.75c1.15 0 2.1 0.95 2.1 2.1v14.1c0 1.15-0.95 2.1-2.1 2.1zM6.1 8.25c-0.4 0-0.7 0.3-0.7 0.7v14.1c0 0.4 0.3 0.7 0.7 0.7h19.75c0.4 0 0.7-0.3 0.7-0.7v-14.1c0-0.4-0.3-0.7-0.7-0.7h-19.75z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M19.55 15.25c-1.55 0-2.75-1.25-2.75-2.75s1.25-2.75 2.75-2.75c1.5 0 2.75 1.25 2.75 2.75s-1.25 2.75-2.75 2.75zM19.55 11c-0.8 0-1.45 0.65-1.45 1.45s0.65 1.45 1.45 1.45c0.8 0 1.45-0.65 1.45-1.45s-0.65-1.45-1.45-1.45z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M23.3 24.95l-11.55-10.85-6.6 6.1-0.9-0.95 7.5-6.95 12.45 11.7-0.9 0.95z"></path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M26.9 21.35l-3.85-3.1-3.2 2.65-0.85-1.050 4.050-3.3 4.65 3.8-0.8 1z"></path>
        </symbol>
        <symbol id="icon-leftarr" viewBox="0 0 14 32">
            <path fill="none" stroke="#fff" stroke-width="2.8" stroke-miterlimit="4" stroke-linecap="round"
                stroke-linejoin="round" style="stroke: var(--color2, #fff)"
                d="M12.444 1.778l-10.667 14.964 10.667 13.481"></path>
        </symbol>
        <symbol id="icon-like" viewBox="0 0 32 32">
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M28 16.2c0-1.6-1.25-2.45-3-2.45h-5.050c0.35-1.35 0.55-2.65 0.55-3.75 0-4.35-1.2-5.25-2.25-5.25-0.7 0-1.2 0.050-1.9 0.5-0.2 0.1-0.3 0.3-0.35 0.5l-0.75 4.050c-0.8 2.15-2.85 4-4.5 5.25v10.7c0.55 0 1.25 0.3 1.9 0.65 0.8 0.4 1.65 0.8 2.6 0.8h7.15c1.5 0 2.6-1.2 2.6-2.25 0-0.2 0-0.4-0.050-0.55 0.95-0.35 1.55-1.15 1.55-2.050 0-0.45-0.1-0.85-0.25-1.15 0.55-0.4 1.15-1.050 1.15-1.85 0-0.4-0.2-0.9-0.5-1.25 0.65-0.5 1.1-1.2 1.1-1.9zM26.45 16.2c0 0.95-1 1.050-1.15 1.5-0.15 0.5 0.6 0.7 0.6 1.6 0 0.95-1.15 0.95-1.3 1.4-0.2 0.55 0.35 0.75 0.35 1.65 0 0.050 0 0.1 0 0.15-0.15 0.75-1.3 0.8-1.5 1.1-0.2 0.35 0.050 0.55 0.050 1.35 0 0.45-0.5 0.75-1.1 0.75h-7.15c-0.55 0-1.25-0.3-1.9-0.65-0.6-0.3-1.2-0.6-1.85-0.75v-7.95c1.85-1.4 4.25-3.55 5.2-6.15 0-0.050 0-0.1 0.050-0.1l0.7-3.75c0.25-0.1 0.45-0.1 0.85-0.1 0.15 0 0.75 0.9 0.75 3.75 0 1.1-0.2 2.35-0.6 3.75h-0.2c-0.4 0-0.75 0.35-0.75 0.75s0.35 0.75 0.75 0.75h6.75c0.75 0 1.45 0.35 1.45 0.95z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M10 27.25h-4.5c-0.85 0-1.5-0.65-1.5-1.5v-10.5c0-0.85 0.65-1.5 1.5-1.5h4.5c0.85 0 1.5 0.65 1.5 1.5v10.5c0 0.85-0.65 1.5-1.5 1.5zM5.5 15.25v10.5h4.5v-10.5h-4.5z">
            </path>
        </symbol>
        <symbol id="icon-envelope" viewBox="0 0 40 32">
            <path fill="#ffd700" style="fill: #ffd700)"
                d="M36 0c2.209 0 4 1.791 4 4v0 24c0 2.209-1.791 4-4 4v0h-32c-2.209 0-4-1.791-4-4v0-24c0-2.2 1.8-4 4-4zM27.26 18.2l12.74 9.8v-4l-10.24-7.8 10.24-8.2v-4l-20 16-20-16v4l10.24 8.2-10.24 7.8v4l12.74-9.8 7.26 5.8z">
            </path>
        </symbol>
        <symbol id="icon-mail" viewBox="0 0 32 32">
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M27.75 9.4l-0.95-0.95-8.8 8.8c-1.1 1.1-2.95 1.1-4.050 0l-8.8-8.75-0.95 0.95 6.55 6.55-6.55 6.55 0.95 0.95 6.55-6.55 1.3 1.3c0.8 0.8 1.85 1.25 2.95 1.25s2.15-0.45 2.95-1.25l1.3-1.3 6.55 6.55 0.95-0.95-6.55-6.55 6.6-6.6z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M25.9 25.2h-19.75c-1.15 0-2.1-0.95-2.1-2.1v-14.1c0-1.15 0.95-2.1 2.1-2.1h19.75c1.15 0 2.1 0.95 2.1 2.1v14.1c0 1.15-0.95 2.1-2.1 2.1zM6.1 8.25c-0.4 0-0.7 0.3-0.7 0.7v14.1c0 0.4 0.3 0.7 0.7 0.7h19.75c0.4 0 0.7-0.3 0.7-0.7v-14.1c0-0.4-0.3-0.7-0.7-0.7h-19.75z">
            </path>
        </symbol>
        <symbol id="icon-pencil" viewBox="0 0 32 32">
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M5.4 27l1.85-7.45 11.35-11.35 5.6 5.6-11.35 11.35-7.45 1.85zM8.55 20.25l-1.2 4.8 4.8-1.2 10.1-10.1-3.6-3.6-10.1 10.1z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M11.65 24.7c-0.5-1.95-2-3.45-3.95-3.95l0.35-1.4c2.45 0.6 4.35 2.5 4.95 4.95l-1.35 0.4z"></path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)" d="M11.5 21.95l-1-1.050 9.95-9.95 1 1-9.95 10z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M6.4 26l2.2-0.55c-0.2-0.8-0.85-1.45-1.65-1.65l-0.55 2.2z"></path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M24.75 13.25l-5.6-5.6 2.25-2.25 0.35 0.050c2.7 0.35 4.85 2.5 5.2 5.2l0.050 0.35-2.25 2.25zM21.2 7.65l3.6 3.6 0.7-0.7c-0.4-1.8-1.8-3.2-3.6-3.6l-0.7 0.7z">
            </path>
        </symbol>
        <symbol id="icon-money" viewBox="0 0 40 32">
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M0.667 6.667c-0.368 0-0.667-0.299-0.667-0.667s0.299-0.667 0.667-0.667c19.179 0 30.755 0 34.112-5.036 0.164-0.245 0.468-0.355 0.748-0.268 0.28 0.084 0.473 0.343 0.473 0.637v3.333c0 0.368-0.299 0.667-0.667 0.667s-0.667-0.299-0.667-0.667v-1.565c-4.745 4.232-16.157 4.232-34 4.232z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M17.305 9.411c-2.373 0-4.915-0.019-7.617-0.036-2.871-0.020-5.887-0.041-9.021-0.041-0.368 0-0.667-0.299-0.667-0.667s0.299-0.667 0.667-0.667c3.139 0 6.157 0.021 9.029 0.040 14.123 0.092 25.276 0.173 27.82-2.5 0.189-0.197 0.479-0.26 0.731-0.159 0.253 0.1 0.42 0.347 0.42 0.619v2.667c0 0.368-0.299 0.667-0.667 0.667s-0.667-0.299-0.667-0.667v-1.344c-3.211 1.784-10.148 2.088-20.028 2.088z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M20 26.667c1.869 0 3.333-1.464 3.333-3.333 0-1.513-1.028-2.616-3.055-3.277l-0.151-0.049c-0.76-0.248-1.461-0.581-1.461-1.34 0-0.785 0.548-1.333 1.333-1.333 0.939 0 1.565 0.504 1.571 0.509 0.284 0.237 0.703 0.2 0.94-0.080 0.237-0.283 0.2-0.701-0.081-0.939-0.040-0.033-0.995-0.824-2.429-0.824-1.521 0-2.667 1.147-2.667 2.667 0 1.832 1.792 2.417 2.38 2.607l0.151 0.049c1.437 0.469 2.136 1.128 2.136 2.011 0 1.14-0.86 2-2 2-1.237 0-1.945-0.816-2.133-1.067-0.221-0.296-0.64-0.353-0.933-0.135-0.296 0.221-0.356 0.639-0.135 0.933 0.283 0.377 1.345 1.601 3.201 1.601z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M20 28c0.368 0 0.667-0.299 0.667-0.667v-0.667c0-0.368-0.299-0.667-0.667-0.667s-0.667 0.299-0.667 0.667v0.667c0 0.368 0.299 0.667 0.667 0.667z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M20 16.667c0.368 0 0.667-0.299 0.667-0.667v-0.667c0-0.368-0.299-0.667-0.667-0.667s-0.667 0.299-0.667 0.667v0.667c0 0.368 0.299 0.667 0.667 0.667z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M0.667 10.667c-0.368 0-0.667 0.299-0.667 0.667s0.299 0.667 0.667 0.667h38v18.667h-38c-0.368 0-0.667 0.299-0.667 0.667v0c0 0.368 0.299 0.667 0.667 0.667h38.667c0.368 0 0.667-0.299 0.667-0.667v-20c0-0.368-0.299-0.667-0.667-0.667z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M0 13.999v17.335c0 0.368 0.299 0.667 0.667 0.667v0c0.368 0 0.667-0.299 0.667-0.667v-17.335c0-0.368-0.299-0.667-0.667-0.667s-0.667 0.299-0.667 0.667z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M15.333 29.333h-9.401c-0.325 0-0.603-0.236-0.657-0.556-0.197-1.181-1.028-2.167-2.165-2.572-0.265-0.093-0.443-0.344-0.443-0.627v-8.489c0-0.283 0.177-0.533 0.443-0.628 1.139-0.405 1.968-1.391 2.165-2.572 0.053-0.32 0.332-0.556 0.657-0.556h9.401c0.368 0 0.667 0.299 0.667 0.667s-0.299 0.667-0.667 0.667h-8.872c-0.376 1.255-1.269 2.3-2.461 2.865v7.601c1.191 0.567 2.085 1.612 2.461 2.867h8.872c0.368 0 0.667 0.299 0.667 0.667s-0.299 0.667-0.667 0.667z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M24.667 29.333h9.401c0.325 0 0.603-0.236 0.657-0.556 0.197-1.181 1.028-2.167 2.165-2.572 0.265-0.093 0.443-0.344 0.443-0.627v-8.489c0-0.283-0.177-0.533-0.443-0.628-1.139-0.405-1.968-1.391-2.165-2.572-0.053-0.32-0.332-0.556-0.657-0.556h-9.401c-0.368 0-0.667 0.299-0.667 0.667s0.299 0.667 0.667 0.667h8.872c0.375 1.255 1.269 2.3 2.461 2.865v7.601c-1.191 0.567-2.085 1.611-2.461 2.865h-8.872c-0.368 0-0.667 0.299-0.667 0.667s0.299 0.668 0.667 0.668z">
            </path>
        </symbol>
        <symbol id="icon-rightarr" viewBox="0 0 14 32">
            <path fill="none" stroke="#fff" stroke-width="2.8" stroke-miterlimit="4" stroke-linecap="round"
                stroke-linejoin="round" style="stroke: var(--color2, #fff)"
                d="M1.778 30.222l10.667-14.964-10.667-13.481"></path>
        </symbol>
        <symbol id="icon-search" viewBox="0 0 32 32">
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M13.85 23.55c-5.35 0-9.75-4.35-9.75-9.75 0-5.35 4.35-9.75 9.75-9.75s9.75 4.35 9.75 9.75c-0.050 5.4-4.4 9.75-9.75 9.75zM13.85 5.5c-4.6 0-8.35 3.75-8.35 8.35s3.75 8.35 8.35 8.35c4.6 0 8.35-3.75 8.35-8.35-0.050-4.6-3.8-8.35-8.35-8.35z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M26.85 27.9l-6.8-6.75 1.1-1.1 6.75 6.8-1.050 1.050z"></path>
        </symbol>
        <symbol id="icon-trophy" viewBox="0 0 32 32">
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M18.5 19.1c2.1-1.6 5.25-4.050 5.25-12.95v-0.7h-15.55v0.7c0 8.95 3.15 11.35 5.25 12.95 1.2 0.95 1.8 1.45 1.8 2.55v2.15c-1.15 0.1-2.25 0.55-2.65 1.4h-1.6c-0.8 0-1.4 0.65-1.4 1.4h12.7c0-0.8-0.65-1.4-1.4-1.4h-1.6c-0.4-0.85-1.5-1.25-2.65-1.4v-2.15c0.050-1.15 0.65-1.65 1.85-2.55zM16 19.5c-0.45-0.6-1.050-1.050-1.65-1.5-1.9-1.5-4.55-3.5-4.7-11.15h12.7c-0.15 7.65-2.75 9.65-4.7 11.15-0.6 0.45-1.2 0.9-1.65 1.5z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M11.65 17.4c-0.1 0-7.65-1.6-7.65-9.85v-0.7h4.95v1.4h-3.5c0.4 6.5 6.4 7.75 6.45 7.8l-0.25 1.35z">
            </path>
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M20.35 17.4l-0.3-1.4c0.25-0.050 6.050-1.3 6.45-7.8h-3.5v-1.4h5v0.7c0 8.3-7.55 9.9-7.65 9.9z"></path>
        </symbol>
        <symbol id="icon-book" viewBox="0 0 24 32">
            <path fill="#ffd700" style="fill: var(--color1, #ffd700)"
                d="M23.652 31.304v0c0 0.385-0.311 0.696-0.696 0.696h-19.478c-1.921 0-3.478-1.557-3.478-3.478v-25.043c0-1.921 1.557-3.478 3.478-3.478v0h18.087c0.288 0 0.536 0.175 0.641 0.425 0.035 0.083 0.054 0.175 0.054 0.271v0 4.87h0.696c0.193 0 0.368 0.080 0.495 0.207 0.124 0.126 0.201 0.298 0.201 0.488 0 0 0 0 0 0zM1.391 28.522v0 0c0 1.153 0.935 2.087 2.087 2.087h2.087v-23.652h-2.087c-0.787 0-1.504-0.271-2.087-0.711zM20.87 5.565v-4.174h-17.391c-1.152 0-2.087 0.934-2.087 2.087s0.935 2.087 2.087 2.087zM22.261 6.957h-15.304v23.652h15.304zM18.783 4.174c0.385 0 0.696-0.312 0.696-0.696s-0.311-0.696-0.696-0.696h-15.304c-0.385 0-0.696 0.312-0.696 0.696s0.311 0.696 0.696 0.696z">
            </path>
        </symbol>
    </defs>
</svg>
<svg xmlns="http://www.w3.org/2000/svg">
  <symbol id="mail3" viewBox="0 0 42 32"> <title>mail</title> <path fill="#ffd700" d="M41.443 4.372l-1.661-1.661-15.388 15.388c-1.924 1.924-5.158 1.924-7.082 0l-15.388-15.301-1.661 1.661 11.454 11.454-11.454 11.454 1.661 1.661 11.454-11.454 2.273 2.273c1.399 1.399 3.235 2.186 5.158 2.186s3.76-0.787 5.158-2.186l2.273-2.273 11.454 11.454 1.661-1.661-11.454-11.454z"/> <path fill="#ffd700" d="M38.208 32h-34.536c-2.011 0-3.672-1.661-3.672-3.672v-24.656c0-2.011 1.661-3.672 3.672-3.672h34.536c2.011 0 3.672 1.661 3.672 3.672v24.656c0 2.011-1.661 3.672-3.672 3.672zM3.585 2.361c-0.699 0-1.224 0.525-1.224 1.224v24.656c0 0.699 0.525 1.224 1.224 1.224h34.536c0.699 0 1.224-0.525 1.224-1.224v-24.656c0-0.699-0.525-1.224-1.224-1.224z"/> </symbol>
</svg>